PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL="file:./noble_erp.db"
JWT_ACCESS_SECRET=noble_edu_access_secret_super_secure_key_2026_vadodara
JWT_REFRESH_SECRET=noble_edu_refresh_secret_super_secure_key_2026_vadodara
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
ORG_NAME="Noble Education"
ORG_LOCATION="Vadodara, Gujarat, India"
ORG_WEBSITE="nobleedu.in"
